@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;500;700&display=swap|Lato:300');

a,
a:hover,
a:focus {
   text-decoration: none;
}

html {
    font-size: 12px;
    background: url('../images/subway.jpg') no-repeat center center;
    background-size: cover;
  }
  
  #across-page,html {
    margin: 0;
    padding: 0;
    font-family: chakra petch;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: transparent;
  }

/* Header  */

.main-heading {
  border: .4rem solid black;
  display:flex;
  position:relative;
  text-transform: capitalize;
  color:  #f46703;
  border-radius: .5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  text-align: center;
  background: rgba(0,0,0,0.4);
  text-shadow: 0 0 .7rem black;
}

/* modal */

#instructions-button {
  background-color: black;
  color:  #f46703;
}

#exampleModal {
  background-color: black;
  color:  #f46703;
}

/* Sound Selector */

.soundsets {
  border: .4rem solid black;
  display:flex;
  position:relative;
  text-transform: capitalize;
  color:  #f46703;
  border-radius: .5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  text-align: center;
  background: rgba(0,0,0,0.4);
  text-shadow: 0 0 .7rem black;
}


/* Playground  */

  .keys {
    display: flex;
    flex: 1;
    min-height: 50vh;
    align-items: center;
    justify-content: center;
  }
  
  .key {
    border: .4rem solid black;
    background-color: black;
    text-shadow: 0 0 .7rem black;
    border-radius: .9rem;
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem .5rem;
    transition: all .07s ease;
    width: 10rem;
    text-align: center;
    color:  #f46703;

  }
  
  .playing {
    transform: scale(1.1);
    border-color: #f46703;
    box-shadow: 0 0 1rem #f46703;
  }
  
  kbd {
    display: block;
    font-size: 4rem;
  }
  
  .sample {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 4px;
    color:  #f46703;
  }

  /* Drum loops  */

  .music-container {
    background-color: rgba(0,0,0,0.4);
    border-radius: 15px;
    border: .4rem solid black;
    box-shadow: 0 20px 20px 0  #f46703;
    display: flex;
    padding: 20px 30px;
    position: relative;
    margin: 100px 0;
    z-index: 10;
  }
  
  .img-container {
    position: absolute;
    width: 110px;
    left:33%;
    top:100%;
  }
  
  .img-container::after {
    content: '';
    background-color: rgba(0,0,0,0.4);
    border-radius: 10px;
    position: absolute;
    bottom: 100%;
    left: 50%;
    width: 20px;
    height: 20px;
    transform: translate(-50%, 50%);
  }
  
  .img-container img {
    border-radius: 50%;
    object-fit: cover;
    height: 110px;
    width: inherit;
    position: absolute;
    bottom: 0;
    left: 0;
    animation: rotate 3s linear infinite;
    animation-play-state: paused;
  }
  
  .music-container.play .img-container img {
    animation-play-state: running;
  }
  
  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }
  }
  
  .navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
  
  .action-btn {
    background-color: rgba(0,0,0,0.4);
    border: 0;
    color: #f46703;
    font-size: 20px;
    cursor: pointer;
    padding: 10px;
    margin: 0 20px;
    background: transparent;
  }
  
  .action-btn.action-btn-big {
    color: #f46703;
    font-size: 30px;
  }
  
  .action-btn:focus {
    outline: 0;
  }
  
  .music-info {
    background-color:rgba(0,0,0,0.4);
    border-radius: 15px 15px 0 0;
    position: absolute;
    top: 0;
    left: 20px;
    width: calc(100% - 40px);
    padding: 10px 10px 10px 10px;
    opacity: 0;
    transform: translateY(0%);
    transition: transform 0.3s ease-in, opacity 0.3s ease-in;
    z-index: 0;
  }
  
  .music-container.play .music-info {
    opacity: 1;
    transform: translateY(-100%);
  }
  
  .music-info h4 {
    margin: 0;
  }
  
  .progress-container {
    background: rgba(0,0,0,0.4);
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0;
    height: 4px;
    width: 100%;
  }
  
  .progress {
    border-radius: 5px;
    height: 100%;
    width: 0%;
    transition: width 0.1s linear;
  }

